@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --grox-black: #0B0B0C;
  --grox-red: #C9181E;
  --grox-gray: #A1A1AA;
}

html {
  background-color: var(--grox-black);
}

body {
  color: white;
  font-family: "Inter", sans-serif;
}